In [ ]:
CREATE DATABASE BooksDB;

In [2]:
CREATE TABLE authors (
    author_id CHAR(4) PRIMARY KEY,
    first_name VARCHAR(30),
    last_name VARCHAR(30),
    city VARCHAR(30),
    state VARCHAR(20)
);

In [3]:
CREATE TABLE publishers (
    pub_id CHAR(4) PRIMARY KEY,
    pub_name VARCHAR(50),
    city VARCHAR(30),
    state VARCHAR(20),
    country VARCHAR(30)
);

In [11]:
CREATE TABLE titles (
    title_id CHAR(6) PRIMARY KEY,
    title VARCHAR(100),
    type VARCHAR(30),
    pub_id CHAR(4),
    price DECIMAL(6,2),
    royalty INT,
    ytd_sales INT,
    pubdate DATE,
    FOREIGN KEY (pub_id) REFERENCES publishers(pub_id)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'titles' in the database.

In [5]:
CREATE TABLE title_author (
    title_id CHAR(6),
    author_id CHAR(4),
    author_order INT,
    royalty_share INT,
    PRIMARY KEY (title_id, author_id),
    FOREIGN KEY (title_id) REFERENCES titles(title_id),
    FOREIGN KEY (author_id) REFERENCES authors(author_id)
);

In [6]:
INSERT INTO publishers VALUES
('0736','New Age Books','Boston','MA','USA'),
('0877','Tech Press','Menlo Park','CA','USA'),
('0911','Global Reads','London','NA','UK');

In [7]:
INSERT INTO titles VALUES
('BU1111','Business Secrets','business','0736',20.00,15,12000,'2015-03-12',NULL),
('MC2222','Mind Control','psychology','0877',18.00,25,8000,'2018-06-10',NULL),
('CS3333','Coding Stars','technology','0877',30.00,10,15000,'2021-01-01',NULL),
('UN4444','Unknown Paths',NULL,'0911',NULL,5,3000,'1991-05-01',NULL);

In [8]:
INSERT INTO authors VALUES
('A001','Sam','Smith','Menlo Park','CA'),
('A002','Dean','Brown','Boston','MA'),
('A003','Sara','Miles','Menlo Park','CA'),
('A004','John','Doe','New York','NY');

In [9]:
INSERT INTO title_author VALUES
('BU1111','A001',1,60),
('BU1111','A002',2,40),
('MC2222','A003',1,100),
('CS3333','A001',1,50),
('CS3333','A003',2,50);

In [14]:
-- 1. Add new column to products table that stores tax rate for the products update tax rate to 12% to all products.
ALTER TABLE titles ADD tax_rate INT;
UPDATE titles SET tax_rate = 12;

In [17]:
-- 2. Display tiles that End with 's'/'t'.
SELECT title
FROM titles
where title like '%s' OR title like '%t';

title
Business Secrets
Coding Stars
Unknown Paths

In [19]:
-- 3. Display books of type business, psychology & undecided
SELECT title, type
FROM titles
WHERE type in ('business','psychology') OR type IS NULL;

title,type
Business Secrets,business
Mind Control,psychology
Unknown Paths,NULL

In [20]:
-- 4. Display titles where the sales>5,000 & royality<20.
SELECT title FROM titles
WHERE ytd_sales > 5000 AND royalty < 20;

title
Business Secrets
Coding Stars

In [22]:
-- 5. Display titles in the ascending of sales for publisher 0736.
SELECT title , ytd_sales
FROM titles
WHERE pub_id = '0736'
ORDER BY ytd_sales ASC

title,ytd_sales
Business Secrets,12000

In [32]:
-- 6. Display the difference between maximum & minimum royality of books published day publisher 0877.
SELECT MAX(royalty) - MIN(royalty) as diff_between_min_max
FROM titles 
WHERE pub_id = '0877';

diff_between_min_max
15

In [28]:
-- 7. Display author_id & no of books written by Author.
SELECT author_id , 
COUNT(*) as no_of_books
FROM title_author
GROUP BY author_id;

author_id,no_of_books
A001,2
A002,1
A003,2

In [29]:
-- 8. Display how many authors are there for each title.
SELECT title_id , 
COUNT(*) as no_of_books
FROM title_author
GROUP BY title_id;

title_id,no_of_books
BU1111,2
CS3333,2
MC2222,1

In [35]:
-- 9. Display average royality % for authors with order 1.
SELECT AVG(royalty_share) as avg_royalty_share
FROM title_author
WHERE author_order = 1;

avg_royalty_share
70

In [30]:
-- 10. Display titles in the order of price if sales are in the range 10k to 20k.
SELECT title
FROM titles
WHERE ytd_sales BETWEEN 10000 AND 20000
ORDER BY price

title
Business Secrets
Coding Stars

In [37]:
-- 11. Display how many authors are in the city Menlo park.
SELECT CONCAT(COUNT(*),' authors') as no_of_authors_Menlo_Park
FROM authors
WHERE city = 'Menlo Park'

no_of_authors_Menlo_Park
2 authors

In [50]:
-- 12. Display state and no of authors we have in the state in the order of state.
SELECT state, COUNT(*) as count
FROM authors
GROUP BY state
ORDER BY state

state,count
CA,2
MA,1
NY,1

In [49]:
-- 13. Display States in which we have more than 2 authors, with 1st name starting with 's'.
SELECT state , COUNT(*) as count
FROM authors
WHERE first_name LIKE 'S%' OR first_name LIKE 's%'
GROUP BY state
HAVING COUNT(*) >= 2

state,count
CA,2

In [47]:
-- 14. Display title after replacing all spaces with (dots) and (hypens) with (stars).
SELECT REPLACE(REPLACE(title,' ','.'),'-','*') as formatted_titles
FROM titles;

formatted_titles
Business.Secrets
Coding.Stars
Mind.Control
Unknown.Paths

In [48]:
-- 15. Display title by Removing all spaces.
SELECT REPLACE(title,' ','.') as formatted_titles
FROM titles

formatted_titles
Business.Secrets
Coding.Stars
Mind.Control
Unknown.Paths

In [57]:
-- 16. Display first word in the title.
SELECT SUBSTRING(TRIM(title),1,CHARINDEX(' ',TRIM(title)))
as formatted_titles
FROM titles;

formatted_titles
Business
Coding
Mind
Unknown

In [60]:
-- 17. Display month and no of books published.
SELECT DATENAME(MONTH,pubdate) as month, COUNT(*) as no_of_books
FROM titles
GROUP BY DATENAME(MONTH,pubdate)

month,no_of_books
January,1
June,1
March,1
May,1

In [65]:
-- 18. Display title publisher name for titles where the publisher is in USA.
SELECT t.title , p.pub_name
FROM publishers p
INNER JOIN titles t
ON t.pub_id = p.pub_id
WHERE p.country = 'USA'

title,pub_name
Business Secrets,New Age Books
Coding Stars,Tech Press
Mind Control,Tech Press

In [68]:
-- 19. Display publisher name and average price of books.
SELECT p.pub_name , AVG(COALESCE(t.price,0)) as avg_book_price
FROM publishers p
INNER JOIN titles t
ON t.pub_id = p.pub_id
GROUP BY p.pub_name

pub_name,avg_book_price
Global Reads,0.000000
New Age Books,20.000000
Tech Press,24.000000

In [75]:
-- 20. Display City of author and then no of books written by authors in the City.
SELECT a.author_id, a.city, COUNT(*) as no_of_books
FROM authors a
INNER JOIN title_author t
ON t.author_id = a.author_id
GROUP BY a.author_id , a.city

author_id,city,no_of_books
A001,Menlo Park,2
A002,Boston,1
A003,Menlo Park,2

In [79]:
-- 21. Display auther name, title for all authors including the once without a title.
SELECT a.author_id, a.first_name, t.title_id, ti.title
FROM authors a
    LEFT JOIN title_author t
    ON t.author_id = a.author_id
    LEFT JOIN titles ti
    ON t.title_id = ti.title_id

author_id,first_name,title_id,title
A001,Sam,BU1111,Business Secrets
A001,Sam,CS3333,Coding Stars
A002,Dean,BU1111,Business Secrets
A003,Sara,CS3333,Coding Stars
A003,Sara,MC2222,Mind Control
A004,John,NULL,NULL

In [94]:
-- 22. Display title publisher name and author name of the primary author.
SELECT p.pub_id, p.pub_name, ti.title, ta.author_id, a.first_name as primary_author
FROM publishers p
    INNER JOIN titles ti
    ON p.pub_id = ti.pub_id
    INNER JOIN title_author ta
    ON ta.title_id = ti.title_id
    INNER JOIN authors a
    ON a.author_id = ta.author_id
WHERE ta.author_order = 1;

pub_id,pub_name,title,author_id,primary_author
0736,New Age Books,Business Secrets,A001,Sam
0877,Tech Press,Coding Stars,A001,Sam
0877,Tech Press,Mind Control,A003,Sara

In [100]:
-- 23. Display City of publisher and maximum price of all titles.
SELECT p.pub_name , MAX(COALESCE(t.price,0)) as max_price
FROM publishers p
    INNER JOIN titles t
    ON p.pub_id = t.pub_id
GROUP BY p.pub_name

pub_name,max_price
Global Reads,0.00
New Age Books,20.00
Tech Press,30.00

In [109]:
-- 24. Display titles written by any author in City (menlo park).
SELECT DISTINCT t.title
FROM titles t
JOIN title_author ta ON t.title_id = ta.title_id
JOIN authors a ON ta.author_id = a.author_id
WHERE a.city = 'Menlo Park'

title
Business Secrets
Coding Stars
Mind Control

In [110]:
-- 25. Display publishers who published a titles in 1991.
SELECT DISTINCT p.pub_name
FROM publishers p
JOIN titles t ON p.pub_id = t.pub_id
WHERE YEAR(t.pubdate) = 1991

pub_name
Global Reads

In [111]:
-- 26. Display titles not published in USA.
SELECT t.title
FROM titles t
JOIN publishers p ON t.pub_id = p.pub_id
WHERE p.country != 'USA'

title
Unknown Paths

In [112]:
-- 27. Display titles either published in USA (or) having price <5.
SELECT DISTINCT t.title
FROM titles t
JOIN publishers p ON t.pub_id = p.pub_id
WHERE p.country = 'USA'
   OR t.price < 5

title
Business Secrets
Coding Stars
Mind Control

In [101]:
-- 28. create a view to contain title, publisher, year of publishing, price and type. Make sure when price is null display Zero and type is null display Unknown.
CREATE VIEW vw_title_details AS
SELECT 
    t.title,
    p.pub_name AS publisher,
    YEAR(t.pubdate) AS publish_year,
    COALESCE(t.price, 0) AS price,
    COALESCE(t.type, 'Unknown') AS type
FROM titles t
JOIN publishers p ON t.pub_id = p.pub_id

In [103]:
-- 29. Display publishers who published books by author who wrote more than 2 titles.
SELECT DISTINCT p.pub_name
FROM publishers p
JOIN titles t ON p.pub_id = t.pub_id
JOIN title_author ta ON t.title_id = ta.title_id
WHERE ta.author_id IN (
    SELECT author_id
    FROM title_author
    GROUP BY author_id
    HAVING COUNT(title_id) >= 2
)

pub_name
New Age Books
Tech Press

In [119]:
-- 30. Delete rows from title author for author with first_name as dean.
DELETE FROM title_author
WHERE author_id IN (
    SELECT author_id
    FROM authors
    WHERE first_name = 'Dean'
)

In [105]:
-- 31. Update the price of the book BU1111 with the Price of book MC2222.
UPDATE titles
SET price = (
    SELECT price
    FROM titles
    WHERE title_id = 'MC2222'
)
WHERE title_id = 'BU1111'

In [118]:
-- 32. Display titles published in last 25 years.
SELECT title
FROM titles
WHERE pubdate >= DATEADD(YEAR, -25, GETDATE());

title
Business Secrets
Coding Stars
Mind Control

In [113]:
-- 33. Display titles published by any publisher who published a title in 2021.
SELECT title
FROM titles
WHERE pub_id IN (
    SELECT DISTINCT pub_id
    FROM titles
    WHERE YEAR(pubdate) = 2021
)

title
Coding Stars
Mind Control

In [114]:
-- 34. Create a view to display publisher name, city, and no of books published.
CREATE VIEW vw_publisher_book_count AS
SELECT 
    p.pub_name,
    p.city,
    COUNT(t.title_id) AS book_count
FROM publishers p
LEFT JOIN titles t ON p.pub_id = t.pub_id
GROUP BY p.pub_name, p.city